<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentOffice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Личный кабинет учащегося</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*//partial layout for logged in user.*@
                    <partial name="_LoginPartial"></partial>
                </div>
            </div>
        </nav>
    </header>
    <!--основной контент-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p>© 2021 - Личный кабинет учащегося</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
