
<!doctype html>
<html lang="ru">
<head>
    <title>Подтверждение подписки</title>
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel="stylesheet">
    <style type="text/css">
        html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            font-size: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            vertical-align: baseline;
            background: transparent
        }

        body {
            line-height: 1
        }

        blockquote, q {
            quotes: none
        }

        :focus {
            outline: 0
        }

        ins {
            text-decoration: none
        }

        del {
            text-decoration: line-through
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            font-family: 'Roboto', sans-serif;
            box-sizing: content-box;
        }

        .subscription-wrap {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 99999;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background-color: #00467F;
        }

        .envelop {
            position: relative;
            z-index: 1;
            height: 300px;
            width: 584px;
            margin: 0 auto;
            background-color: #006494;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.2);
        }

        .envelop-top {
            position: absolute;
            top: -192px;
        }

            .envelop-top svg {
                filter: drop-shadow(0px -5px 5px rgba(0, 0, 0, 0.2));
            }

            .envelop-top #Gradient2 stop:first-of-type {
                stop-color: #0072A2;
            }

            .envelop-top #Gradient2 stop:last-of-type {
                stop-color: #005787;
            }

        .logo-block {
            height: 245px;
            width: 250px;
            margin: 0 auto;
            position: absolute;
            z-index: 3;
            top: calc(50% - 340px);
        }

            .logo-block img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        .envelop-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .text {
            display: inline-block;
            font-size: 20px;
            color: #ffffff;
            position: relative;
            top: 50px;
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }

            .text.thanks {
                font-size: 44px;
                font-weight: 700;
            }

        .btn-back {
            font-size: 14px;
            color: #004871;
            background-color: #ffffff;
            border-radius: 4px;
            border: none;
            padding: 8px 35px;
            position: relative;
            top: 80px;
        }

        .cloud {
            position: absolute;
        }

            .cloud path {
                fill: #005B90;
            }

        .cloud-1 {
            right: calc(50% - 360px);
        }

        .cloud-2 {
            top: calc(50% - 40px);
            left: calc(50% - 440px);
        }

        .star {
            z-index: 2;
            position: absolute;
        }

            .star path {
                fill: #00659f;
            }

        .star-1 {
            width: 24px;
            bottom: -20px;
            right: -150px;
        }

            .star-1 path {
                fill: #00619a;
            }

        .star-2 {
            width: 20px;
            top: 70px;
            left: -145px;
        }

            .star-2 path {
                fill: #3eb8ff;
            }

        .star-3 {
            width: 24px;
            bottom: 20px;
            left: -70px;
        }

            .star-3 path {
                fill: #0085d2;
            }

        .star-4 {
            width: 36px;
            height: 36px;
            bottom: -30px;
            left: -110px;
        }

            .star-4 path {
                fill: #8bd4ff;
            }

        .circle {
            position: absolute;
            z-index: 2;
            border-radius: 50%;
        }

        .circle-1 {
            height: 50px;
            width: 50px;
            left: -25px;
            bottom: -4px;
            background-color: #0088d7;
        }

        .circle-2 {
            height: 25px;
            width: 25px;
            left: 40px;
            bottom: 80px;
            background-color: #007bc3;
        }

        .circle-3 {
            height: 40px;
            width: 40px;
            left: -20px;
            top: 30px;
            background-color: #0092e7;
        }

        .circle-4 {
            height: 10px;
            width: 10px;
            left: 40px;
            top: 60px;
            background-color: #2ab1ff;
        }

        .circle-5 {
            height: 10px;
            width: 10px;
            left: -40px;
            top: -10px;
            background-color: #44baff;
        }

        .circle-6 {
            height: 6px;
            width: 6px;
            left: -85px;
            top: 50px;
            background-color: #00619a;
        }

        .circle-7 {
            height: 6px;
            width: 6px;
            left: -60px;
            top: 70px;
            background-color: #00659f;
        }

        .circle-8 {
            height: 8px;
            width: 8px;
            left: -155px;
            top: -50px;
            background-color: #009bf6;
        }

        .circle-9 {
            height: 10px;
            width: 10px;
            left: -170px;
            top: 10px;
            background-color: #49bcff;
        }

        .circle-10 {
            height: 8px;
            width: 8px;
            left: -150px;
            top: 30px;
            background-color: #39b6ff;
        }

        .circle-11 {
            height: 12px;
            width: 12px;
            left: -180px;
            top: 110px;
            background-color: #0085d2;
        }

        .circle-12 {
            height: 10px;
            width: 10px;
            left: -170px;
            top: 130px;
            background-color: #006eaf;
        }

        .circle-13 {
            height: 44px;
            width: 44px;
            right: 50px;
            top: 180px;
            background-color: #006eaf;
        }

        .circle-14 {
            height: 26px;
            width: 26px;
            right: -13px;
            top: 150px;
            background-color: #1babff;
        }

        .circle-15 {
            height: 18px;
            width: 18px;
            right: 55px;
            top: 140px;
            background-color: #009ffb;
        }

        .circle-16 {
            height: 34px;
            width: 34px;
            right: -120px;
            top: 190px;
            background-color: #01a2ff;
        }

        .circle-17 {
            height: 12px;
            width: 12px;
            right: -120px;
            top: 290px;
            background-color: #0082cd;
        }

        .circle-18 {
            height: 8px;
            width: 8px;
            right: -150px;
            top: 240px;
            background-color: #58c1ff;
        }

        .circle-19 {
            height: 8px;
            width: 8px;
            right: -220px;
            top: 200px;
            background-color: #009ffb;
        }

        .circle-20 {
            height: 6px;
            width: 6px;
            right: -230px;
            top: 210px;
            background-color: #0088d7;
        }

        .circle-21 {
            height: 8px;
            width: 8px;
            right: -225px;
            top: 160px;
            background-color: #006eaf;
        }

        .circle-22 {
            height: 4px;
            width: 4px;
            right: -175px;
            top: 170px;
            background-color: #0078be;
        }

        .circle-23 {
            height: 6px;
            width: 6px;
            right: -165px;
            top: 165px;
            background-color: #008bdd;
        }

        .circle-24 {
            height: 4px;
            width: 4px;
            right: -140px;
            top: 150px;
            background-color: #01a2ff;
        }

        .circle-25 {
            height: 6px;
            width: 6px;
            right: -165px;
            top: 135px;
            background-color: #39b6ff;
        }

        .circle-26 {
            height: 4px;
            width: 4px;
            right: -160px;
            top: 115px;
            background-color: #11a7ff;
        }

        .circle-27 {
            height: 4px;
            width: 4px;
            right: -125px;
            top: 90px;
            background-color: #0078be;
        }

        .circle-28 {
            height: 4px;
            width: 4px;
            right: -90px;
            top: 35px;
            background-color: #0095ec;
        }

        .circle-29 {
            height: 8px;
            width: 8px;
            right: -220px;
            top: -80px;
            background-color: #20adff;
        }
    </style>
</head>
<body>
    <div class="subscription-wrap">

        <div class="envelop">
            <div class="envelop-top">
                <svg width="585" height="359" viewBox="0 0 585 359" xmlns="http://www.w3.org/2000/svg">

                    <defs>
                        <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0%" stop-color="#0072A2" />
                            <stop offset="100%" stop-color="#005787" />
                        </linearGradient>
                    </defs>

                    <path d="M280 3.56687C225.132 40.4798 0 192.567 0 192.567L294 358.567L584 192.567C584 192.567 357.471 41.5478 302.101 4.63389C293.404 -1.65518 286.815 -1.07302 280 3.56687Z" transform="translate(0.546265 0.26416)" fill="url(#Gradient2)" />
                </svg>
            </div>

            <div class="envelop-inner">
                <span class="text thanks">Спасибо!</span>
                <span class="text">Почта успешно подтверждена.</span>
            </div>

            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="circle circle-5"></div>
            <div class="circle circle-6"></div>
            <div class="circle circle-7"></div>
            <div class="circle circle-8"></div>
            <div class="circle circle-9"></div>
            <div class="circle circle-10"></div>
            <div class="circle circle-11"></div>
            <div class="circle circle-12"></div>

            <div class="circle circle-13"></div>
            <div class="circle circle-14"></div>
            <div class="circle circle-15"></div>
            <div class="circle circle-16"></div>
            <div class="circle circle-17"></div>
            <div class="circle circle-18"></div>
            <div class="circle circle-19"></div>
            <div class="circle circle-20"></div>
            <div class="circle circle-21"></div>
            <div class="circle circle-22"></div>
            <div class="circle circle-23"></div>
            <div class="circle circle-24"></div>
            <div class="circle circle-25"></div>
            <div class="circle circle-26"></div>
            <div class="circle circle-27"></div>
            <div class="circle circle-28"></div>
            <div class="circle circle-29"></div>

            <svg class="star star-1" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.367 0H9.73502C9.60501 0 9.5 0.10498 9.5 0.234985V1.90332C9.4057 1.98633 9.34906 2.29871 9.34906 2.89709C9.34906 6.34644 6.71262 9.18054 3.34262 9.50098H0.234009C0.105011 9.50098 0 9.60596 0 9.73596V12.3679C0 12.4979 0.105011 12.603 0.234009 12.603H2.19229C2.32346 12.6342 2.49298 12.651 2.70508 12.651C6.37408 12.651 9.34906 15.621 9.34906 19.2841C9.34906 19.8824 9.4057 20.1948 9.5 20.2778V21.869C9.5 21.999 9.60501 22.104 9.73502 22.104H12.367C12.497 22.104 12.601 21.999 12.601 21.869V18.6606C12.9158 15.2898 15.7576 12.651 19.217 12.651C19.4291 12.651 19.5986 12.6342 19.7297 12.603H21.867C21.997 12.603 22.102 12.4979 22.102 12.3679V9.73596C22.102 9.60596 21.997 9.50098 21.867 9.50098H18.5793C15.414 9.20007 12.8962 6.68262 12.601 3.52063V0.234985C12.601 0.10498 12.497 0 12.367 0Z" transform="translate(0.181152 0.947998)" fill="#C4C4C4" />
            </svg>

            <svg class="star star-2" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.367 0H9.73502C9.60501 0 9.5 0.10498 9.5 0.234985V1.90332C9.4057 1.98633 9.34906 2.29871 9.34906 2.89709C9.34906 6.34644 6.71262 9.18054 3.34262 9.50098H0.234009C0.105011 9.50098 0 9.60596 0 9.73596V12.3679C0 12.4979 0.105011 12.603 0.234009 12.603H2.19229C2.32346 12.6342 2.49298 12.651 2.70508 12.651C6.37408 12.651 9.34906 15.621 9.34906 19.2841C9.34906 19.8824 9.4057 20.1948 9.5 20.2778V21.869C9.5 21.999 9.60501 22.104 9.73502 22.104H12.367C12.497 22.104 12.601 21.999 12.601 21.869V18.6606C12.9158 15.2898 15.7576 12.651 19.217 12.651C19.4291 12.651 19.5986 12.6342 19.7297 12.603H21.867C21.997 12.603 22.102 12.4979 22.102 12.3679V9.73596C22.102 9.60596 21.997 9.50098 21.867 9.50098H18.5793C15.414 9.20007 12.8962 6.68262 12.601 3.52063V0.234985C12.601 0.10498 12.497 0 12.367 0Z" transform="translate(0.181152 0.947998)" fill="#C4C4C4" />
            </svg>

            <svg class="star star-3" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.367 0H9.73502C9.60501 0 9.5 0.10498 9.5 0.234985V1.90332C9.4057 1.98633 9.34906 2.29871 9.34906 2.89709C9.34906 6.34644 6.71262 9.18054 3.34262 9.50098H0.234009C0.105011 9.50098 0 9.60596 0 9.73596V12.3679C0 12.4979 0.105011 12.603 0.234009 12.603H2.19229C2.32346 12.6342 2.49298 12.651 2.70508 12.651C6.37408 12.651 9.34906 15.621 9.34906 19.2841C9.34906 19.8824 9.4057 20.1948 9.5 20.2778V21.869C9.5 21.999 9.60501 22.104 9.73502 22.104H12.367C12.497 22.104 12.601 21.999 12.601 21.869V18.6606C12.9158 15.2898 15.7576 12.651 19.217 12.651C19.4291 12.651 19.5986 12.6342 19.7297 12.603H21.867C21.997 12.603 22.102 12.4979 22.102 12.3679V9.73596C22.102 9.60596 21.997 9.50098 21.867 9.50098H18.5793C15.414 9.20007 12.8962 6.68262 12.601 3.52063V0.234985C12.601 0.10498 12.497 0 12.367 0Z" transform="translate(0.181152 0.947998)" fill="#C4C4C4" />
            </svg>

            <svg class="star star-4" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.367 0H9.73502C9.60501 0 9.5 0.10498 9.5 0.234985V1.90332C9.4057 1.98633 9.34906 2.29871 9.34906 2.89709C9.34906 6.34644 6.71262 9.18054 3.34262 9.50098H0.234009C0.105011 9.50098 0 9.60596 0 9.73596V12.3679C0 12.4979 0.105011 12.603 0.234009 12.603H2.19229C2.32346 12.6342 2.49298 12.651 2.70508 12.651C6.37408 12.651 9.34906 15.621 9.34906 19.2841C9.34906 19.8824 9.4057 20.1948 9.5 20.2778V21.869C9.5 21.999 9.60501 22.104 9.73502 22.104H12.367C12.497 22.104 12.601 21.999 12.601 21.869V18.6606C12.9158 15.2898 15.7576 12.651 19.217 12.651C19.4291 12.651 19.5986 12.6342 19.7297 12.603H21.867C21.997 12.603 22.102 12.4979 22.102 12.3679V9.73596C22.102 9.60596 21.997 9.50098 21.867 9.50098H18.5793C15.414 9.20007 12.8962 6.68262 12.601 3.52063V0.234985C12.601 0.10498 12.497 0 12.367 0Z" transform="translate(0.181152 0.947998)" fill="#C4C4C4" />
            </svg>

        </div>

        <svg class="cloud cloud-1" width="266" height="258" viewBox="0 0 266 258" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M243.692 56.2325C235.242 43.2755 220.642 36.7015 206.212 37.8525C204.382 23.5285 194.932 10.6285 180.481 5.04151C164.951 -0.962487 147.997 3.15751 136.914 14.1705C126.709 2.34551 110.12 -3.05548 94.1758 1.74952C79.3318 6.22252 68.9308 18.3635 66.0088 32.5075C51.7028 30.2605 36.6408 35.7005 27.2248 47.9795C17.8058 60.2585 16.4857 76.1705 22.4107 89.3465C9.48375 95.8655 0.455767 109.054 0.0167668 124.504C-0.423233 139.955 7.83677 153.635 20.3708 160.873C13.7058 173.692 14.1168 189.656 22.8178 202.446C31.5198 215.239 46.2438 221.524 60.6618 220.089C62.7698 234.376 72.4637 247.086 87.0257 252.393C101.588 257.701 117.218 254.218 128.073 244.654C138.163 255.013 153.481 259.679 168.408 255.496C183.331 251.314 193.972 239.378 197.172 225.293C211.432 227.819 226.592 222.675 236.252 210.585C245.912 198.494 247.542 182.608 241.872 169.317C254.932 163.054 264.212 150.044 264.962 134.606C265.702 119.167 257.712 105.33 245.322 97.8465C252.242 85.1595 252.142 69.1895 243.692 56.2325Z" transform="translate(0.57666 0.464966)" fill="#C4C4C4" />
        </svg>
        <svg class="cloud cloud-2" width="185" height="125" viewBox="0 0 185 125" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M97.6023 9.50757C90.4716 3.57178 81.2926 0 71.2771 0C50.1665 0 32.7723 15.8685 30.4399 36.2954C12.9088 40.9774 0 56.928 0 75.8851C0 98.519 18.402 116.867 41.1021 116.867C48.5206 116.867 55.4801 114.907 61.4883 111.479C69.0114 119.749 79.8621 124.94 91.926 124.94C99.363 124.94 106.339 122.967 112.359 119.516C119.084 122.983 126.713 124.94 134.8 124.94C161.891 124.94 183.852 102.977 183.852 75.885C183.852 48.792 161.891 26.829 134.8 26.829C133.852 26.829 132.91 26.8558 131.975 26.9089C124.537 16.3796 112.249 9.50098 98.3501 9.50098C98.1003 9.50098 97.8511 9.50317 97.6023 9.50757Z" transform="translate(0.952393 0.0600586)" fill="#C4C4C4" />
        </svg>
    </div>
    <span id="language_hidden_val" style="display:none" data-value="null"></span>
</body>
</html>



