@model IEnumerable<StudentOffice.Models.DataBase.Exam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">Список экзаменов</h3>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExamId" class="btn btn-info">Изменить</a>
                    <a asp-action="Delete" asp-route-id="@item.ExamId" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
