@model StudentOffice.Models.DataBase.Anketa

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Анкета</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Middlename" class="control-label"></label>
                <input asp-for="Middlename" class="form-control" />
                <span asp-validation-for="Middlename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurnameR" class="control-label"></label>
                <input asp-for="SurnameR" class="form-control" />
                <span asp-validation-for="SurnameR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameR" class="control-label"></label>
                <input asp-for="NameR" class="form-control" />
                <span asp-validation-for="NameR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddlenameR" class="control-label"></label>
                <input asp-for="MiddlenameR" class="form-control" />
                <span asp-validation-for="MiddlenameR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label"></label>
                <input asp-for="IdentityNumber" class="form-control" />
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportSeries" class="control-label"></label>
                <input asp-for="PassportSeries" class="form-control" />
                <span asp-validation-for="PassportSeries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label"></label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfIssue" class="control-label"></label>
                <input asp-for="DateOfIssue" class="form-control" />
                <span asp-validation-for="DateOfIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfValidity" class="control-label"></label>
                <input asp-for="DateOfValidity" class="form-control" />
                <span asp-validation-for="DateOfValidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedBy" class="control-label"></label>
                <input asp-for="IssuedBy" class="form-control" />
                <span asp-validation-for="IssuedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label"></label>
                <input asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <select asp-for="Region" class="form-control" asp-items="Html.GetEnumSelectList<Region>()"></select>
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfSettlement" class="control-label"></label>
                <select asp-for="TypeOfSettlement" class="form-control" asp-items="Html.GetEnumSelectList<TypeOfSettlement>()"></select>
                <span asp-validation-for="TypeOfSettlement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfSettlement" class="control-label"></label>
                <input asp-for="NameOfSettlement" class="form-control" />
                <span asp-validation-for="NameOfSettlement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetType" class="control-label"></label>
                <select asp-for="StreetType" class="form-control" asp-items="Html.GetEnumSelectList<StreetType>()"></select>
                <span asp-validation-for="StreetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseNumber" class="control-label"></label>
                <input asp-for="HouseNumber" class="form-control" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HullNumber" class="control-label"></label>
                <input asp-for="HullNumber" class="form-control" />
                <span asp-validation-for="HullNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNumber" class="control-label"></label>
                <input asp-for="ApartmentNumber" class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label" asp-for="SocialBehavior"></label><br/>
                <input type="checkbox" asp-for="SocialBehavior" />
                <span asp-validation-for="SocialBehavior"></span>
            </div>
            <div class="form-group">
                <label asp-for="KinshipTypeFather" class="control-label"></label>
                <select asp-for="KinshipTypeFather" class="form-control" asp-items="Html.GetEnumSelectList<KinshipTypeFather>()"></select>
                <span asp-validation-for="KinshipTypeFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurnameFather" class="control-label"></label>
                <input asp-for="SurnameFather" class="form-control" />
                <span asp-validation-for="SurnameFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameFather" class="control-label"></label>
                <input asp-for="NameFather" class="form-control" />
                <span asp-validation-for="NameFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddlenameFather" class="control-label"></label>
                <input asp-for="MiddlenameFather" class="form-control" />
                <span asp-validation-for="MiddlenameFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressFather" class="control-label"></label>
                <input asp-for="AddressFather" class="form-control" />
                <span asp-validation-for="AddressFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KinshipTypeMother" class="control-label"></label>
                <select asp-for="KinshipTypeMother" class="form-control" asp-items="Html.GetEnumSelectList<KinshipTypeMother>()"></select>
                <span asp-validation-for="KinshipTypeMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurnameMother" class="control-label"></label>
                <input asp-for="SurnameMother" class="form-control" />
                <span asp-validation-for="SurnameMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameMother" class="control-label"></label>
                <input asp-for="NameMother" class="form-control" />
                <span asp-validation-for="NameMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddlenameMother" class="control-label"></label>
                <input asp-for="MiddlenameMother" class="form-control" />
                <span asp-validation-for="MiddlenameMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressMother" class="control-label"></label>
                <input asp-for="AddressMother" class="form-control" />
                <span asp-validation-for="AddressMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevel" class="control-label"></label>
                <select asp-for="EducationLevel" class="form-control" asp-items="Html.GetEnumSelectList<EducationLevel>()"></select>
                <span asp-validation-for="EducationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institution" class="control-label"></label>
                <input asp-for="Institution" class="form-control" />
                <span asp-validation-for="Institution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfEnding" class="control-label"></label>
                <input asp-for="YearOfEnding" class="form-control" />
                <span asp-validation-for="YearOfEnding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfWorkAndPosition" class="control-label"></label>
                <input asp-for="PlaceOfWorkAndPosition" class="form-control" />
                <span asp-validation-for="PlaceOfWorkAndPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeniorityGeneral" class="control-label"></label>
                <input asp-for="SeniorityGeneral" class="form-control" />
                <span asp-validation-for="SeniorityGeneral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeniorityProfileSpecialty" class="control-label"></label>
                <input asp-for="SeniorityProfileSpecialty" class="form-control" />
                <span asp-validation-for="SeniorityProfileSpecialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialtyId" class="control-label"></label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.SpecialtyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DocumentTypeId" class="control-label"></label>
                <select asp-for="DocumentTypeId" class="form-control" asp-items="ViewBag.DocumentTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться у списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
