@model Anketa

@{
    ViewData["Title"] = "Anketa";
}

<h2>Анкета</h2>
<form method="post" asp-controller="Home" asp-action="Anketa">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <h4>Основные сведения</h4>
        <div>
            <label asp-for="Surname"></label><br />
            <input asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Middlename"></label><br />
            <input asp-for="Middlename" />
            <span asp-validation-for="Middlename"></span>
        </div>
        <div>
            <label asp-for="SurnameR"></label><br />
            <input asp-for="SurnameR" />
            <span asp-validation-for="SurnameR"></span>
        </div>
        <div>
            <label asp-for="NameR"></label><br />
            <input asp-for="NameR" />
            <span asp-validation-for="NameR"></span>
        </div>
        <div>
            <label asp-for="MiddlenameR"></label><br />
            <input asp-for="MiddlenameR" />
            <span asp-validation-for="MiddlenameR"></span>
        </div>
        <div>
            <label asp-for="Birthday"></label><br />
            <input type="date" asp-for="Birthday" />
            <span asp-validation-for="Birthday"></span>
        </div>
        <div>
            <label asp-for="Sex"></label><br/>
            <input type="radio" asp-for="Sex" checked="checked" value="0"/>
            <label>Мужской</label><br/>
            <input type="radio" asp-for="Sex" value="1"/>
            <label>Женский</label>
            <span asp-validation-for="Sex"></span>
        </div>
    </div>

    <div>
        <h4>Паспортные данные</h4>
        <div>
            <label asp-for="Passport.DocumentType"></label><br />
            <input asp-for="Passport.DocumentType" />
            <span asp-validation-for="Passport.DocumentType"></span>
        </div>
        <div>
            <label asp-for="Passport.IdentityNumber"></label><br />
            <input asp-for="Passport.IdentityNumber" />
            <span asp-validation-for="Passport.IdentityNumber"></span>
        </div>
        <div>
            <label asp-for="Passport.PassportSeries"></label><br />
            <input asp-for="Passport.PassportSeries" />
            <span asp-validation-for="Passport.PassportSeries"></span>
        </div>
        <div>
            <label asp-for="Passport.PassportNumber"></label><br />
            <input asp-for="Passport.PassportNumber" />
            <span asp-validation-for="Passport.PassportNumber"></span>
        </div>
        <div>
            <label asp-for="Passport.DateOfIssue"></label><br />
            <input type="date" asp-for="Passport.DateOfIssue" />
            <span asp-validation-for="Passport.DateOfIssue"></span>
        </div>
        <div>
            <label asp-for="Passport.DateOfValidity"></label><br />
            <input type="date" asp-for="Passport.DateOfValidity" />
            <span asp-validation-for="Passport.DateOfValidity"></span>
        </div>
        <div>
            <label asp-for="Passport.IssuedBy"></label><br />
            <input asp-for="Passport.IssuedBy" />
            <span asp-validation-for="Passport.IssuedBy"></span>
        </div>
        <div>
            <label asp-for="Passport.PlaceOfBirth"></label><br />
            <input asp-for="Passport.PlaceOfBirth" />
            <span asp-validation-for="Passport.PlaceOfBirth"></span>
        </div>
    </div>

    <div>
        <h4>Сведения о месте проживания</h4>
        <div>
            <label asp-for="Accommodation.Postcode"></label><br />
            <input asp-for="Accommodation.Postcode" />
            <span asp-validation-for="Accommodation.Postcode"></span>
        </div>
        <div>
            <label asp-for="Accommodation.Region"></label><br />
            <input asp-for="Accommodation.Region" />
            <span asp-validation-for="Accommodation.Region"></span>
        </div>
        <div>
            <label asp-for="Accommodation.TypeOfSettlement"></label><br />
            <input asp-for="Accommodation.TypeOfSettlement" />
            <span asp-validation-for="Accommodation.TypeOfSettlement"></span>
        </div>
        <div>
            <label asp-for="Accommodation.NameOfSettlement"></label><br />
            <input asp-for="Accommodation.NameOfSettlement" />
            <span asp-validation-for="Accommodation.NameOfSettlement"></span>
        </div>
        <div>
            <label asp-for="Accommodation.StreetType"></label><br />
            <input asp-for="Accommodation.StreetType" />
            <span asp-validation-for="Accommodation.StreetType"></span>
        </div>
        <div>
            <label asp-for="Accommodation.StreetName"></label><br />
            <input asp-for="Accommodation.StreetName" />
            <span asp-validation-for="Accommodation.StreetName"></span>
        </div>
        <div>
            <label asp-for="Accommodation.HouseNumber"></label><br />
            <input asp-for="Accommodation.HouseNumber" />
            <span asp-validation-for="Accommodation.HouseNumber"></span>
        </div>
        <div>
            <label asp-for="Accommodation.HullNumber"></label><br />
            <input asp-for="Accommodation.HullNumber" />
            <span asp-validation-for="Accommodation.HullNumber"></span>
        </div>
        <div>
            <label asp-for="Accommodation.ApartmentNumber"></label><br />
            <input asp-for="Accommodation.ApartmentNumber" />
            <span asp-validation-for="Accommodation.ApartmentNumber"></span>
        </div>
        <div>
            <label asp-for="Accommodation.HomePhone"></label><br />
            <input asp-for="Accommodation.HomePhone" />
            <span asp-validation-for="Accommodation.HomePhone"></span>
        </div>
        <div>
            <label asp-for="Accommodation.SocialBehavior"></label>
            <input type="checkbox" asp-for="Accommodation.SocialBehavior" spellcheck="false" />
            <span asp-validation-for="Accommodation.SocialBehavior"></span>
        </div>
    </div>

    <div>
        <h4>Сведения о родителях</h4>
        <div>
            <label asp-for="ParentInformation.KinshipTypeFather"></label><br />
            <input asp-for="ParentInformation.KinshipTypeFather" />
            <span asp-validation-for="ParentInformation.KinshipTypeFather"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.SurnameFather"></label><br />
            <input asp-for="ParentInformation.SurnameFather" />
            <span asp-validation-for="ParentInformation.SurnameFather"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.NameFather"></label><br />
            <input asp-for="ParentInformation.NameFather" />
            <span asp-validation-for="ParentInformation.NameFather"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.MiddlenameFather"></label><br />
            <input asp-for="ParentInformation.MiddlenameFather" />
            <span asp-validation-for="ParentInformation.MiddlenameFather"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.AddressFather"></label><br />
            <input asp-for="ParentInformation.AddressFather" />
            <span asp-validation-for="ParentInformation.AddressFather"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.KinshipTypeMother"></label><br />
            <input asp-for="ParentInformation.KinshipTypeMother" />
            <span asp-validation-for="ParentInformation.KinshipTypeMother"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.SurnameMother"></label><br />
            <input asp-for="ParentInformation.SurnameMother" />
            <span asp-validation-for="ParentInformation.SurnameMother"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.NameMother"></label><br />
            <input asp-for="ParentInformation.NameMother" />
            <span asp-validation-for="ParentInformation.NameMother"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.MiddlenameMother"></label><br />
            <input asp-for="ParentInformation.MiddlenameMother" />
            <span asp-validation-for="ParentInformation.MiddlenameMother"></span>
        </div>
        <div>
            <label asp-for="ParentInformation.AddressMother"></label><br />
            <input asp-for="ParentInformation.AddressMother" />
            <span asp-validation-for="ParentInformation.AddressMother"></span>
        </div>
    </div>

    <div>
        <h4>Сведения об образовании</h4>
        <div>
            <label asp-for="Education.EducationLevel"></label><br />
            <input asp-for="Education.EducationLevel" />
            <span asp-validation-for="Education.EducationLevel"></span>
        </div>
        <div>
            <label asp-for="Education.Institution"></label><br />
            <input asp-for="Education.Institution" />
            <span asp-validation-for="Education.Institution"></span>
        </div>
        <div>
            <label asp-for="Education.YearOfEnding"></label><br />
            <input type="date" asp-for="Education.YearOfEnding" />
            <span asp-validation-for="Education.YearOfEnding"></span>
        </div>
    </div>

    <div>
        <h4>Специальность</h4>
        <div>
            <label asp-for="Specialty.Branch"></label><br />
            <input asp-for="Specialty.Branch" />
            <span asp-validation-for="Specialty.Branch"></span>
        </div>
        <div>
            <label asp-for="Specialty.SpecialtyName"></label><br />
            <input asp-for="Specialty.SpecialtyName" />
            <span asp-validation-for="Specialty.SpecialtyName"></span>
        </div>
    </div>

    <div>
        <h4>
            Сведения о трудовой деятельности<br/>
            (заполняется только учащимися заочного отделения)
        </h4>
        <div>
            <label asp-for="EmploymentInformation.PlaceOfWorkAndPosition"></label><br />
            <input asp-for="EmploymentInformation.PlaceOfWorkAndPosition" />
            <span asp-validation-for="EmploymentInformation.PlaceOfWorkAndPosition"></span>
        </div>
        <div>
            <label asp-for="EmploymentInformation.SeniorityGeneral"></label><br />
            <input asp-for="EmploymentInformation.SeniorityGeneral" />
            <span asp-validation-for="EmploymentInformation.SeniorityGeneral"></span>
        </div>
        <div>
            <label asp-for="EmploymentInformation.SeniorityProfileSpecialty"></label><br />
            <input asp-for="EmploymentInformation.SeniorityProfileSpecialty" />
            <span asp-validation-for="EmploymentInformation.SeniorityProfileSpecialty"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="Отправить" />
    </div>

</form>